---
category: news
title: "Health officials close courtroom, quarantine newlyweds after positive COVID-19 test result"
excerpt: "Circuit Court Judge Ken Deihl gave a groom the signal to kiss the bride in a wedding on Friday. Days later, she tested positive for COVID-19. Macoupin County"
publishedDateTime: 2020-05-07T21:37:00Z
webUrl: "https://www.ourquadcities.com/news/national-news/health-officials-close-courtroom-quarantine-newlyweds-after-positive-covid-19-test-result/"
ampWebUrl: "https://www.ourquadcities.com/news/national-news/health-officials-close-courtroom-quarantine-newlyweds-after-positive-covid-19-test-result/amp/"
cdnAmpWebUrl: "https://www-ourquadcities-com.cdn.ampproject.org/c/s/www.ourquadcities.com/news/national-news/health-officials-close-courtroom-quarantine-newlyweds-after-positive-covid-19-test-result/amp/"
type: article
quality: 115
heat: 115
published: true

provider:
  name: Our Quad Cities
  domain: ourquadcities.com

topics:
  - New Cases
  - Coronavirus

images:
  - url: "https://www.ourquadcities.com/wp-content/uploads/sites/19/2020/05/vlcsnap-2018-07-20-20h00m09s174_1532142022444_49136286_ver1.0.png?w=1280&h=720&crop=1"
    width: 1280
    height: 720
    title: "Health officials close courtroom, quarantine newlyweds after positive COVID-19 test result"

secured: "6f4paWjUprNE9PVRKwOoKPGNgcYAHz2oqg8z0AWLJ565lx+RtqHs8znzUQ8JQm75xDhqY2i2QdFX5Ze83lTDvERNXvop13okXQu0wrNSIgOVvtps+RVAAHqkLfA84XyZT8EG7W4XH+XPzw4+f7At+Pwzt8ro4wEBUmb1QnHYZ2yknXn3d8LV3SwCxji7VDZDCOn4PZGOaaVW8Y8boEYNwNj5M9DJ8nV+hLeQqLzFiSwcdKWB2Rw/PTU5v3/4JKTrJL/ETnZDiaFB9EkbIhWti+4BksisffkoDEpXh3pfLiNxfVr048hOvPZGK6M86aM6;eQqVr/eEkrQZUQEXmrsktQ=="
---

