---
category: news
title: "South Dakota Department of Health cautious about antibody test results"
excerpt: "The Department of Health was discussing how the virus is effecting the state during its daily briefing. With Rapid City and Pennington County workers being tested for antibodies, its hoped the results will give the state a clearer picture of how people were infected."
publishedDateTime: 2020-05-07T23:31:00Z
webUrl: "https://www.newscenter1.tv/south-dakota-department-of-health-cautious-about-antibody-test-results/"
type: article
quality: 40
heat: 40
published: false

provider:
  name: Newcenter1
  domain: newscenter1.tv

topics:
  - Coronavirus in US
  - Coronavirus

tags:
  - US-SD

images:
  - url: "https://www.newscenter1.tv/content/uploads/2020/05/vlcsnap-2020-05-07-16h55m11s102-1024x581.png"
    width: 1024
    height: 581
    title: "South Dakota Department of Health cautious about antibody test results"

secured: "inJQSOh6WbtLgHJ5+8KfvymO50XiUEPGLjrvN3DDUbxIgURH6JIeTm4BYBMV/sR3AYSQwvDGI/8odkbSYY3m2mQKalk+RWvJm7XROPvmqrbZT84Uj/m+Hnrnj1+fWgt8DIn2bZsz6mpG4V4guu9XzGlNPqAbs9V4xZpSAU+HLc3Ff/a2/rC4yCjdtYQqZ6SFi5aie7jbSQFXC7C1CfsNkYDaxBAXsYhxH7BIZID5DE3OSD1/HZr3vSp+awLPewAs37/LKVt5cDt4h7faq7pwXDxV3pGPBCUuwm6aoPd5ca/N3KNg7qedwN1+BtikZi/hA6BJPncLy4O2YKKdDkZGuy+ve+1XN7+YTvfruiZVRC1pTkkQzcDJWON6JziUZwx/QLGBCv8XBsmPowtqfeB63VH2FBb/x8JOIzHPGRpne2Wsh1e9qGK3h+qsO5TXr+3ZOIZh+iPknBH0hv7dlGpAUca28k6f1TVymLR9i4a65bY=;RETs59kTwjFVIe5tYMKzxA=="
---

